* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f1821;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: solid 1px #3a4455;

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            width: 40px;
            height: 40px;
        }

        h1 {
            font-size: 1.5rem;
            color: #fbfdff;
        }
    }

    .navegacion {
        display: flex;
        gap: 1rem;

        a {
            color: #fbfdff;
            text-decoration: none;
            font-weight: bold;
        }
    }

    .subida-entrada {
        display: flex;
        gap: 1rem;

        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            border: solid 1px #0f1921;
            padding: 0.5rem 1rem;
            border-radius: 8px;
        }
        #subida{
            color: #1175d9;
            background-color: #0f2c45;
        }
        #entrada{
            background-color: #1172d4;
        }
    }
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
    border: solid 1px #3a4455;
    padding: 5px;
    border-radius: 8px;

    input {
        flex: 1;
        border: none;
        outline: none;
        padding: 0.5rem;
        background-color: transparent;
        font-size: 1.2rem;
    }
}

.adicionales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: solid 1px #3a4455;
    border-radius: 8px;
}

button[type="submit"] {
    line-height: 3rem;
    width: 100%;
    background-color: #1172d4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;

}

.linea-molesta {
    display: flex;
    margin-top: 1rem;
    border-bottom: #3a4455 solid 1px;
    justify-content: center;
    height: 10px;

    span {
        display: block;
        width: fit-content;
        height: 20px;
        padding: 0 10px;
        background-color: #0f1821;
    }
}

.especificaciones {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
    margin-bottom: 2rem;

    a {
        color: #fbfdff;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        border: solid 1px #3a4455;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        width: 100%;
    }
}

.welcome {
    text-align: center;
    margin: 2rem auto;
    max-width: 400px;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        color: #8f9095;

    }
}