body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #74d2a333;
            color: #333;
        }
        h1 {
            color: #09f;
        }
        ul {
            list-style-type: square;
        }
        #imagen-1 {
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        }